/* Ensure html and body take up 100% of the height */
html,
body {
  height: 100%;
  margin: 0; /* Remove default margin */
}

/* Optional: If you want to make the map full height */
#map {
  width: 100%;
  height: 100%; /* Make sure the map container fills the screen */
  z-index: 0;
}

#controls {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 8px;
  z-index: 21;
}

input[type="text"] {
  padding: 10px;
  margin-left: 10px;

}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
